.StyledDirectoryTreeItem-label {
  display: flex;
  align-items: 'center';
}

.StyledDirectoryTreeItem-label-main {
  flex-grow: 1;
}

.StyledDirectoryTreeItem-label-secondary {
  padding-right: 0.4rem;
  color: rgba(0, 0, 0, 0.5);
}
