body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Cancel the highlight of the selected item in a TreeView, while keeping the highlight on mouse hover */
.MuiTreeItem-label {
  background-color: transparent !important;
}
.MuiTreeItem-label:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
